@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

.home-screen {

    height: 100vh;
    width: 100%;
}

.home-content {

    width: 300px;
    max-width: 100%;
    height: 500px;
    margin: 0 auto;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content img {

    width: 130px;
    height: 92px;
}

.home-content input {

    width: 261px;
    max-width: 100%;
    height: 54px;

    margin-top: 94px;
    margin-bottom: 15px;

    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
}

.home-content button {

    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    border: none;
}

/*  */

header {

    position: fixed;
    left: 0px;
    top: 0px;
    height: 80px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 25px;
    padding-right: 25px;
    /* background-color: aqua; */
}

header img {

    width: 75px;
    height: 53px;
}

header ion-icon {

    font-size: 42px;
}

/*  */

footer {

    position: fixed;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    /* background-color: red; */
}

footer ion-icon {

    font-size: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

footer input {

    width: 145px;
    height: 30px;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    border: none;
}

/*  */

.page-content {

    height: 0 auto;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.message {

    width: 100%;
    height: 100px;
    border-radius: 2px;
    background-color: blue;
    /* background: #FFFFFF */
}

.reserved {

    background-color: #FFDEDE;
}

.status {

    background-color: #DCDCDC;
}

/* sidebar */

.sidebar {

    position: fixed;
    top: 0px;
    right: 0px;
    width: 65%;
    height: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFFFFF;
    padding-top: 15px;
}

.sidebar .title {

    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sidebar .box {

    width: 100%;
    height: 35px;
    margin-left: 20px;

    display: flex;
    align-items: center;
}

.user-selected {

    width: 50px;
    color: #28BB25;
}

.spacing {
    
    width: 60%;
}

.sidebar h1 {

    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;
    text-align: center;
}

.sidebar p {

    margin-left: 20px;

    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
}

.sidebar ion-icon {

    font-size: 25px;
}

.box, .exit, .show-sidebar, .send-btn:hover {

    cursor: pointer;
}

.sidebar .exit {
    
    position: absolute;
    bottom: 0px;
    margin-left: 10px;
}

/*  */

.blackout {

    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.9);
    animation-duration: 3s;
    animation-name: gradientshow;
}

/*  */

.display-flex {

    display: flex;
}

.hidden {

    display: none
}

/*  response */

@media (max-width: 600px) {

    footer input {
        width: 60%
    }

}

@media (min-width: 700px) {

    .sidebar {
        width: 25%;
    }

    footer input {
        width: 80%
    }
}

/* anims */

.anim-hidden {

    animation-duration: 3s;
    animation-name: animhidden;
}

.anim-show {

    animation-duration: 3s;
    animation-name: animshow;
}

.removegradient {

    animation-duration: 3s;
    animation-name: gradienthidden;
}

@keyframes gradienthidden {

    from {
        background: rgba(0, 0, 0, 0.9);
    }

    to {
        background: rgba(0, 0, 0, 0.1);
    }
}

@keyframes gradientshow {

    from {
        background: rgba(0, 0, 0, 0.1);
    }

    to {
        background: rgba(0, 0, 0, 0.9);
    }
}

@keyframes animshow {

    from {
        right: -350px;
    }

    to {
        right: 0px;
    }
}

@keyframes animhidden {

    from {
        right: 0px;
    }

    to {
        right: -350px;
    }
}